.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(to bottom right, #d6dbe0, #6c7a89); /* Darker gradient */
  padding: 2rem;
}

.card {
  width: 100%;
  max-width: 700px;
  padding: 2rem;
  border-radius: 1rem;
  background-color:#1A1F28; /* Keep the same background color */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow intensity and spread */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1.2rem;
  margin: 0;
}

.logo {
  object-fit: contain;
}

.greeting {
  text-align: left;
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.description {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.button {
  flex: 1;
  min-width: 40%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

/* Responsive styles for mobile view */
@media (max-width: 768px) {
  .buttonGroup {
    flex-direction: column; /* Stack buttons vertically */
    gap: 0.5rem; /* Reduce gap between buttons */
  }

  .button {
    min-width: 100%; /* Make buttons full-width */
    font-size: 0.9rem; /* Slightly smaller font size for mobile */
    padding: 0.8rem; /* Adjust padding for smaller screens */
  }
}
